@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300&display=swap');

body{
    background-color: white;
    margin: 0;
}

.name{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 10px
}

.section-container{
    width: 200px;
    /* margin: 0 auto; Center the container horizontally */
    border: 1px solid rgba(0, 0, 0, 0.231);
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    /* margin: 10px; */
}

.image-style{
    width: 500px
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0px
}

.headline{
    font-family: 'Athiti', sans-serif;
    font-weight: 300;
    font-size: 15px;
}